{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block body %}
    <!-- Page Content -->
    <div class="row" style="padding-top:50px;margin-right:0;">
        <div class="" style="flex: 0 0 11.5%;max-width: 11.5%;">
        </div>
        <div class="" style="flex: 0 0 75%;max-width: 75%;">
          <!-- Jumbotron Header -->
          <header class="" style="padding: 3%;margin-top: 3%;margin-bottom: 3%;border-radius: 0.5rem;background: #fff;">
              <div class="">
                  <img src="{{asset('build/images/imali.png')}}" style="width: 80px; float: left; margin-left:15%;" title="logo" alt="Marsupilami">
                  <img src="{{asset('build/images/imali2.png')}}" style="width: 80px; float: right; margin-right: 15%;" title="logo" alt="Marsupilami">
                  <h1 class="text-center">Bienvenue {{ app.user.username }} sur le site d'Imaliii ❤️</h1>
              </div>
              <br>
              <div class="row">
                  <div class="col-md-6">
                      <p class="lead text-center">P'tits évènements qui arrivent 🍻:</p>
                      <div id='calendar'></div>
                  </div>
                  <div class="col-md-6">
                      {#<img src="{{asset('build/images/background.jpg')}}" class="center rounded" title="logo" alt="Background Image">#}
                      <div id="carrousel">
                          <figure>
                              <img src="{{asset('build/images/dashboard/background1.jpg')}}" class="center rounded" title="back1" alt="Background Image1">
                              <img src="{{asset('build/images/dashboard/background2.jpg')}}" class="center rounded" title="back2" alt="Background Image2">
                              <img src="{{asset('build/images/dashboard/background3.jpg')}}" class="center rounded" title="back3" alt="Background Image3">
                              <img src="{{asset('build/images/dashboard/background4.jpg')}}" class="center rounded" title="back4" alt="Background Image4">
                          </figure>
                      </div>
                  </div>
              </div>
              <a id="click" href="" class="btn btn-primary">Click click click</a>
          </header>

            <!-- Page Features -->
            <!--
            <div class="row text-center">
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="card h-100">
                        <img class="card-img-top" src="{{ asset("build/images/dashboard/4.jpg") }}" alt="">
                        <div class="card-body">
                            <h4 class="card-title">
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                Calendrier
                            </h4>
                            <p class="card-text">P'tit calendrier avec toutes les infos utiles depuis 2016</p>
                        </div>
                        <div class="card-footer">
                            <a href="{{ path('calendar') }}" class="btn btn-primary">Laisse moi voir ca !</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="card h-100">
                        <img class="card-img-top" src="{{ asset("build/images/dashboard/3.jpg") }}" alt="">
                        <div class="card-body">
                            <h4 class="card-title">
                                <i class="fa fa-newspaper-o" aria-hidden="true"></i>
                                Localisation
                            </h4>
                            <p class="card-text">P'tites maps des potos, qui est où ?</p>
                        </div>
                        <div class="card-footer">
                            <a href="{{ path('map') }}" class="btn btn-primary">Je veux les localiser !</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="card h-100">
                        <img class="card-img-top" src="{{ asset("build/images/dashboard/1.jpg") }}" alt="lunettes du sheit">
                        <div class="card-body">
                            <h4 class="card-title">
                                <i class="fa fa-camera-retro" aria-hidden="true"></i>
                                Photos
                            </h4>
                            <p class="card-text">Consultez les belles P'tites bouilles de l'équipe</p>
                        </div>
                        <div class="card-footer">
                            <a href="{{ path('gallery') }}" class="btn btn-primary">Photos Potos</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="card h-100">
                        <img class="card-img-top" src="{{ asset("build/images/dashboard/2.jpg") }}" alt="cristal">
                        <div class="card-body">
                            <h4 class="card-title">
                              <i class="fa fa-commenting" aria-hidden="true"></i>
                              Résumé de l'équipe
                            </h4>
                            <p class="card-text">Tous les P'tits potes et évènements</p>
                            <!--
                            <ul class="list-group">
                                {% for event in events | slice(0,4) %}
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        <a href="{{ path('event',{'id': event.id}) }}">
                                            <strong class="">{{ event.name }}</strong>
                                            <span class="badge badge-primary badge-pill">{{ event.startDate|time_diff }}</span>
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="card-footer">
                            <a href="{{ path('resume') }}" class="btn btn-primary">Trop chauuuud ^^</a>
                        </div>
                    </div>
                </div>

            </div>
          -->
          <div class="my-3 p-3 bg-white rounded box-shadow">
          <h6 class="border-bottom border-gray pb-2 mb-0">Les p'tits mises à jour </h6>
          {% for info in infos|sort((a, b) => b.date <=> a.date) %}
              <div class="media text-muted pt-3">
                  <img class="mr-2 rounded" src="{{asset('build/images/profile/' ~ info.name ~ '.jpg')}}" alt="{{ info.name }}" style="width: 5%;height: 100%;border-radius: 10%;">
                  <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                      <a {% if info.link_attr is defined %}href="{{ path(info.link,{id: info.link_attr}) }}"{% else %}href="{{ path(info.link) }}"{% endif %}>
                          <strong class="d-block text-gray-dark">{{ info.name }} </strong>
                      </a>
                      {{ info.description }}
                      {{ info.date|time_diff }}
                  </p>
              </div>
          {% endfor %}
          </div>

        </div>
        <div class="" style="flex: 0 0 13.5%;max-width: 13.5%;padding:1%;">
            <div class="card my-3">
              <h5 class="card-header text-center">Routes</h5>
              <div class="card-body" style='padding:0.5rem;'>               
                  <ul class="list-unstyled mb-0">
                    <li>
                        <div class="d-block">
                            <a href="{{ path('resume') }}">
                                🎉 P'tit récap
                            </a>
                        </div>                      
                    </li>
                    <li>
                        <div class="d-block">
                            <a href="{{ path('gallery') }}">
                                🏝️ P'tite gallerie
                            </a>
                        </div>                       
                    </li>
                    <li>
                        <div class="d-block">
                            <a href="{{ path('map') }}">
                                🗺️ P'tite map
                            </a>
                        </div>                       
                    </li>
                    <li>
                        <div class="d-block">
                            <a href="{{ path('calendar') }}">
                                📆 P'tit calendrier
                            </a>
                        </div>                       
                    </li>
                    <li>
                        <div class="d-block">
                            <a href="{{ path('profile',{id: user.id}) }}">
                                👨‍💻 P'tit profil
                            </a>
                        </div>                       
                    </li>
                    <li>
                        <div class="d-block">
                            <a href="{{ path('catan') }}">
                                🎲 P'tit CATAN
                            </a>
                        </div>                       
                    </li>
                    <li>
                        <div class="d-block">
                            <a href="{{ path('radio') }}">
                                🕺 P'tite radio
                            </a>
                        </div>                       
                    </li>
                     <li>
                        <div class="d-block">
                            <a href="{{ path('convertor') }}">
                                📥 P'tit convertor
                            </a>
                        </div>                       
                    </li>
                  </ul>
                </div>
              </div>
              <div class="card my-3">
              <h5 class="card-header text-center">Ajout</h5>
              <div class="card-body" style='padding:0.5rem;'>               
                  <ul class="list-unstyled mb-0">
                    <li>
                        <div class="d-block">
                            <a class="add-event" href="{{ path('add_event') }}">
                                📣 Add event
                            </a>
                        </div>                      
                    </li>
                    <li>
                        <div class="d-block">
                            <a class="add-album" href="{{ path('add_album') }}">
                                🐕 Add album
                            </a>
                        </div>                       
                    </li>
                    <li>
                        <div class="d-block">
                            <a class="add-picture" href="{{ path('add_picture') }}">
                                🏖️ Add photo
                            </a>
                        </div>                       
                    </li>
                    <li>
                        <div class="d-block">
                            <a class="add-song" href="{{ path('add_song') }}">
                                🎶 Add musique
                            </a>
                        </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
        </div>
    </div>
      
    <!-- Modal add an event -->
    <div id="addEventModal" class="modal" role="dialog" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
               <div class="modal-header">
                   <h5 class="modal-title">Ajout d'un P'tit Evènement</h5>
                   <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                       <span aria-hidden="true">&times;</span>
                   </button>
               </div>
               <div class="modal-body">
                   {{ form_start(eventForm, {'method': 'post', 'action': path('add_event')}) }}
                   {{ form_widget(eventForm, {'attr': {'class': 'form-group'}}) }}
               </div>
                <div class="modal-footer">
                   <div class="form-group middle">
                       <input class=" btn btn-primary" type="submit" value="Ajouter" />
                   </div>
                   {{ form_rest(eventForm) }}
                   {{ form_end(eventForm) }}
               </div>
            </div>
        </div>
    </div>
            
    <!-- Modal add an album -->
    <div id="addAlbumModal" class="modal" role="dialog" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
               <div class="modal-header">
                   <h5 class="modal-title">Ajout d'un P'tit Album</h5>
                   <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                       <span aria-hidden="true">&times;</span>
                   </button>
               </div>
               <div class="modal-body">
                   {{ form_start(albumForm, {'method': 'post', 'action': path('add_album')}) }}
                   {{ form_widget(albumForm, {'attr': {'class': 'form-group'}}) }}
               </div>
                <div class="modal-footer">
                   <div class="form-group middle">
                       <input class=" btn btn-primary" type="submit" value="Ajouter" />
                   </div>
                   {{ form_rest(albumForm) }}
                   {{ form_end(albumForm) }}
               </div>
            </div>
        </div>
    </div>
            
    <!-- Modal add a picture -->
    <div id="addPictureModal" class="modal" role="dialog" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
               <div class="modal-header">
                   <h5 class="modal-title">Ajout d'une P'tite Photo</h5>
                   <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                       <span aria-hidden="true">&times;</span>
                   </button>
               </div>
               <div class="modal-body">
                   {{ form_start(pictureForm, {'method': 'post', 'action': path('add_picture')}) }}
                   {{ form_widget(pictureForm, {'attr': {'class': 'form-group'}}) }}
               </div>
                <div class="modal-footer">
                   <div class="form-group middle">
                       <input class=" btn btn-primary" type="submit" value="Ajouter" />
                   </div>
                   {{ form_rest(pictureForm) }}
                   {{ form_end(pictureForm) }}
               </div>
            </div>
        </div>
    </div>
            
    <!-- Modal add a song -->
    <div id="addSongModal" class="modal" role="dialog" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
               <div class="modal-header">
                   <h5 class="modal-title">Ajout d'une P'tite Musique</h5>
                   <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                       <span aria-hidden="true">&times;</span>
                   </button>
               </div>
               <div class="modal-body">
                   {{ form_start(songForm, {'method': 'post', 'action': path('add_song')}) }}
                   {{ form_widget(songForm, {'attr': {'class': 'form-group'}}) }}
               </div>
                <div class="modal-footer">
                   <div class="form-group middle">
                       <input class=" btn btn-primary" type="submit" value="Ajouter" />
                   </div>
                   {{ form_rest(songForm) }}
                   {{ form_end(songForm) }}
               </div>
            </div>
        </div>
    </div>
      
       <script>
           $(document).ready(function(){
                //Autocomplete
                initializeAutocomplete('event_address');
                
                //Carrousel
                $("#myCarousel").carousel();
                      
                $('#click').click(function(e){
                  e.preventDefault();
                  alert('Click Click !');
                 });
                $('.fc-scroller').addClass("home_fc-scroller");
                
                //modal actions
                var modal = document.getElementById("addEventModal");
                var modal2 = document.getElementById("addAlbumModal");
                var modal3 = document.getElementById("addPictureModal");
                var modal4 = document.getElementById("addSongModal");
                
                $('.add-event').on('click', function(e) {
                    e.preventDefault();
                    $('#addEventModal').modal('show');
                });
                    
                $('.add-album').on('click', function(e) {
                    e.preventDefault();
                    $('#addAlbumModal').modal('show');
                });

                $('.add-picture').on('click', function(e) {
                    e.preventDefault();
                    $('#addPictureModal').modal('show');
                });

                $('.add-song').on('click', function(e) {
                    e.preventDefault();
                    $('#addSongModal').modal('show');
                });
           });
           
           // When the user clicks anywhere outside of the modal, close it
            window.onclick = function(event) {
              if (event.target == modal) {
                modal.style.display = "none";
              }
              if (event.target == modal2) {
                modal2.style.display = "none";
              }
              if (event.target == modal3) {
                modal3.style.display = "none";
              }
              if (event.target == modal4) {
                modal4.style.display = "none";
              }
            };
           
           //calendar js
           document.addEventListener('DOMContentLoaded', function() {
               var calendarEl = document.getElementById('calendar');

               var calendar = new FullCalendar.Calendar(calendarEl, {
                   plugins: ['list'],
                   locale: 'fr',
                   defaultView: 'listWeek',
                   events: [
                       {% for event in events %}
                       {
                           title: '{{ event.name }}',
                           start: '{{ event.startdate|date('Y-m-d') }}',
                           end: '{{ event.enddate|date('Y-m-d') }}',
                           url: '{{ path('event', { id: event.id})  }}'
                       },
                       {% endfor %}
                       {% for user in users %}
                       {
                           title: 'Anniversaire {{ user.prename }}',
                           start: '2020-{{ user.birthdate|date('m-d') }}',
                           allDay : true,
                           backgroundColor: 'red'

                       },
                       {
                           title: 'Anniversaire {{ user.prename }}',
                           start: '2021-{{ user.birthdate|date('m-d') }}',
                           allDay : true,
                           backgroundColor: 'red'
                       },
                       {% endfor %}
                   ]
               });
               calendar.render();
           });
           
            //Autocomplete 
            function initializeAutocomplete(id){
                var element = document.getElementById(id);  
                if (element) { 
                    var autocomplete = new google.maps.places.Autocomplete(element, { types: ['geocode'] });
                    google.maps.event.addListener(autocomplete, 'place_changed', onPlaceChanged);
                }
            }
           function onPlaceChanged() {
                var place = this.getPlace();
                console.log(place);  // Uncomment this line to view the full object returned by Google API.
                for (var i in place.address_components) {
                  var component = place.address_components[i];    
                  for (var j in component.types) {
                    var type_element = document.getElementById(component.types[j]);      
                    if (type_element) {
                      type_element.value = component.long_name;
                    }    
                  }  
                }
            }
       </script>
        <script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyA0wuGfkqLD67jR6NfcC8mm4EuUROGis_I"
    async defer></script>
  {% endblock %}
