{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block body %}

      <!-- Page Content -->
      <div class="container" style="padding-top:50px;">
          <!-- Jumbotron Header -->
          <header class="jumbotron my-4" style="background-color: white;">
              <img src="{{asset('build/images/background.jpg')}}" style="width: 250px; float: right;" title="logo" alt="Background Image">
              <h3 class="display-4">Bonjour à tous les amiiiiis</h3>
              <p class="lead">P'tit site en construction</p>
              <a id="click" href="" class="btn btn-primary">Click click click</a>
          </header>

          <!-- Page Features -->
          <div class="row text-center">
              <div class="col-lg-3 col-md-6 mb-4">
                  <div class="card h-100">
                      <img class="card-img-top" src="{{ asset("build/images/dashboard/4.jpg") }}" alt="">
                      <div class="card-body">
                          <h4 class="card-title">
                              <i class="fa fa-calendar" aria-hidden="true"></i>
                              Calendrier
                          </h4>
                          <p class="card-text">P'tit calendrier avec toutes les infos utiles depuis 2016</p>
                          <ul class="list-group">
                              {% for event in events | slice(0,3) %}
                              <li class="list-group-item d-flex justify-content-between align-items-center">
                                  <a href="{{ path('event',{'id': event.id}) }}">
                                      <strong class="">{{ event.name }}</strong>
                                      <span class="badge badge-primary badge-pill">{{ event.startDate|time_diff }}</span>
                                  </a>
                              </li>
                              {% endfor %}
                          </ul>
                      </div>
                      <div class="card-footer">
                          <a href="{{ path('calendar') }}" class="btn btn-primary">Laisse moi voir ca !</a>
                      </div>
                  </div>
              </div>

              <div class="col-lg-3 col-md-6 mb-4">
                  <div class="card h-100">
                      <img class="card-img-top" src="{{ asset("build/images/dashboard/3.jpg") }}" alt="">
                      <div class="card-body">
                          <h4 class="card-title">
                              <i class="fa fa-newspaper-o" aria-hidden="true"></i>
                              Dernières infos
                          </h4>
                          <p class="card-text">P'tites informations, publications ou blagues de Goat</p>
                      </div>
                      <div class="card-footer">
                          <a href="#" class="btn btn-primary">Je veux voir les blagues ?</a>
                      </div>
                  </div>
              </div>

              <div class="col-lg-3 col-md-6 mb-4">
                  <div class="card h-100">
                      <img class="card-img-top" src="{{ asset("build/images/dashboard/1.jpg") }}" alt="lunettes du sheit">
                      <div class="card-body">
                          <h4 class="card-title">
                              <i class="fa fa-camera-retro" aria-hidden="true"></i>
                              Photos
                          </h4>
                          <p class="card-text">Consultez les belles P'tites bouilles de l'équipe</p>
                      </div>
                      <div class="card-footer">
                          <a href="{{ path('gallery') }}" class="btn btn-primary">Photos Potos</a>
                      </div>
                  </div>
              </div>

              <div class="col-lg-3 col-md-6 mb-4">
                  <div class="card h-100">
                      <img class="card-img-top" src="{{ asset("build/images/dashboard/2.jpg") }}" alt="cristal">
                      <div class="card-body">
                          <h4 class="card-title">
                            <i class="fa fa-commenting" aria-hidden="true"></i>
                            Résumé de l'équipe
                          </h4>
                          <p class="card-text">Tous les P'tits potes et évènements</p>
                      </div>
                      <div class="card-footer">
                          <a href="{{ path('resume') }}" class="btn btn-primary">Trop chauuuud ^^</a>
                      </div>
                  </div>
              </div>

          </div>
          <!-- /.row -->

      </div>
      <!-- /.container -->
      
       <script>
           $(document).ready(function(){
                $('#click').click(function(e){
                  //Some code
                  e.preventDefault();
                  alert('Click Click !');
                 });
        });
       </script>
  {% endblock %}
