<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" style="margin-bottom: 20px;">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('main_app') }}">
            Imalipusram Website
            <img src="{{asset('build/images/imali.png')}}" style="width: 50px;" title="logo" alt="Logo Imali">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto" style="margin-right: 2%;">
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('profile',{'id': app.user.id}) }}" data-toggle="tooltip" data-placement="bottom" title="Mon profil">
                            <img src="{{asset('build/images/profile/' ~ app.user.username ~ '.jpg')}}" alt="Mon profil" style="border-radius:60%; width: 23px;height: 23px;">
                            {{ app.user.username }}
                        </a>
                    </li>
                    <li id="notif" class="nav-item dropdown" data-toggle="tooltip" data-placement="bottom" title="Notifications">
                        <a class="nav-link dropdown" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 
                            {% if mgilet_notification_unseen_count(app.user) > 0 %}<span class="notification">{{ mgilet_notification_unseen_count(app.user) }}</span> {% endif %}
                            <i class="fa fa-bell" area-hidden="true"></i>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdown01" style="min-width: 333px;">
                            {% if notificationList|length > 0 %}
                                <small style="margin-left:1.5rem;">
                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                    <a id="all-seen" data="{{ mgilet_notification_generate_path('notification_mark_all_as_seen', notificationList|first.notifiableEntity) }}" href="">
                                        Tout marquer comme vu
                                    </a>
                                </small>
                                <div class="dropdown-divider"></div>
                            {% else %}
                                <div class="text-center"><i>Aucune notification :'(</i></div>
                            {% endif %}
                            {% for item in notificationList | slice(0,8) %}
                                <a class="dropdown-item notif-content" {% if not item.seen %}style="background-color:#5eb5e0;" data="{{ mgilet_notification_generate_path('notification_mark_as_seen', item.notifiableEntity, item.notification) }}" {% else %} data="" {% endif %} href="{{ path('main_app') }}{{ item.notification.link }}">
                                       <b>{{ item.notification.subject }}</b>
                                       <i>{{ item.notification.message }}</i>
                                       <br>
                                       <i>{{ item.notification.date|time_diff }}</i>
                                    <!--
                                    form action="{{ mgilet_notification_generate_path('notification_mark_as_seen', item.notifiableEntity, item.notification) }}"
                                          method="post">
                                        <button type="submit">Mark as seen</button>
                                    </form>
                                    <form action="{{ mgilet_notification_generate_path('notification_mark_as_unseen', item.notifiableEntity, item.notification) }}"
                                          method="post">
                                        <button type="submit">Mark as unseen</button>
                                    </form>
                                    -->
                                </a>
                            {% endfor %}
                        </div>
                    </li>
                    <li id="menu-dropdown" class="nav-item dropdown"  data-toggle="tooltip" data-placement="bottom" title="Rubriques">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <span class="fa fa-list-alt"></span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{ path('resume') }}">
                            <span class="fa fa-newspaper-o"></span> What's up
                        </a>
                        <a class="dropdown-item" href="{{ path('gallery') }}">
                            <span class="fa fa-photo"></span> Gallerie Photo
                        </a>    
                        <a class="dropdown-item" href="{{ path('calendar') }}">
                            <span class="fa fa-calendar"></span> Calendrier
                        </a>
                        <a class="dropdown-item" href="{{ path('radio') }}">
                            <span class="fa fa-music"></span> Radio
                        </a>
                        <a class="dropdown-item" href="{{ path('map') }}">
                            <span class="fa fa-map-o"></span> Map
                        </a>
                        <a class="dropdown-item" href="{{ path('catan') }}">
                            <span class="fa fa-gamepad"></span> Catan
                        </a>
                        {% if app.user.id == 4 %}             
                            <a class="dropdown-item" href="{{ path('timetable') }}">
                                <span class="fa fa-clock-o"></span> TimeTable
                            </a>  
                        {% endif %}
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{ path('fos_user_security_logout') }}">
                            <span class="fa fa-sign-out"></span> {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                        </a>
                        </div>
                    </li>

                {% else %}
                    <li class="nav-item">
                        <a class="btn btn-primary" href="{{ path('fos_user_security_login') }}">
                            {{ 'layout.login'|trans({}, 'FOSUserBundle') }}
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
        <form class="form-inline" style="margin-right:8%;">
           <input id="search" class="form-control mr-sm-2" placeholder="Rechercher" aria-label="Search">
           <button class="btn btn-outline-success my-2 my-sm-0" type="submit"  data-toggle="tooltip" data-placement="bottom" title="Rechercher">
               <span class="fa fa-search"></span>
           </button>
        </form>
    </div>
</nav>
            
<script>
    $(document).ready(function(){

        //Autocomplete
        $("#search").autocomplete({
            source: "{{ path('autocomplete_search') }}",
            minLength: 1,
            autoFocus: true,
            select: function( event, ui ) {
                var my_route;
                if(ui.item.category == 'user')
                    my_route = Routing.generate('profile',{id: ui.item.label});
                else if(ui.item.category == 'event')
                    my_route = Routing.generate('event',{id: ui.item.label});
                else if(ui.item.category == 'album')
                    my_route = Routing.generate('album',{id: ui.item.label});
                
                window.location.replace(my_route);
            }
            
        })
        .autocomplete("instance")._renderItem = function( ul, item ) {
            if(item.category == 'user'){
                return $("<li>")
                  .append("<div>" + "<img src='{{asset('build/images/profile/')}}"+ item.value + ".jpg' style='width: 10%;height: 100%;border-radius: 10%;'>" + " " + item.value + "</div>")
                  .appendTo(ul);
            }
            if(item.category == 'event'){
                return $("<li>")
                  .append("<div>" + "<img src='{{asset('build/images/dashboard/event.jpg')}}' style='width: 10%;height: 100%;border-radius: 10%;'>" + " " + item.value + "</div>")
                  .appendTo(ul);
            }
            if(item.category == 'album'){
                return $("<li>")
                  .append("<div>" + "<img src='{{asset('build/images/gallery/default.png')}}' style='width: 10%;height: 100%;border-radius: 10%;'>" + " " + item.value + "</div>")
                  .appendTo(ul);
            }
        };
        
      
        $('[data-toggle="tooltip"]').tooltip();  
        
        $('#notif').on('click', function () {
            $(this).tooltip('hide');
        });
        
        $('.notif-content').click(function(){
            var url = $(this).attr("data");
            if(url !== ""){
                $.ajax({
                   url: url
                });
            }
        });
        $('#all-seen').click(function(e){
            e.preventDefault();
            var url = $(this).attr("data");
            $.ajax({
               url: url,
               success: function(data) {
                    $('.notif-content').css("background-color","transparent"); 
                   }
               });
        });
    });
        
</script>
