<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" style="margin-bottom: 20px;">
    <div class="container">
            <a class="navbar-brand" href="{{ path('main_app') }}">
                Imalipusram Website
                <img src="{{asset('build/images/imali.png')}}" style="width: 50px;" title="logo" alt="Logo Imali">
            </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") and app.user.id == 4 %}
                    <li id="timetable" class="nav-item">
                        <a class="nav-link" href="{{ path('timetable') }}">TimeTable</a>
                    </li>
                {% endif %}
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <li id="notif" class="nav-item dropdown">
                        <a class="nav-link dropdown" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 
                            {% if mgilet_notification_unseen_count(app.user) > 0 %}<span class="notification">{{ mgilet_notification_unseen_count(app.user) }}</span> {% endif %}
                            <i class="fa fa-bell" area-hidden="true"></i>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdown01" style="min-width: 333px;">
                            {% if notificationList|length > 0 %}
                                <small style="margin-left:1.5rem;">
                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                    <a id="all-seen" data="{{ mgilet_notification_generate_path('notification_mark_all_as_seen', notificationList|first.notifiableEntity) }}" href="">
                                        Tout marquer comme vu
                                    </a>
                                </small>
                                <div class="dropdown-divider"></div>
                            {% endif %}
                                {% for item in notificationList | slice(0,8) %}
                                    <a class="dropdown-item notif-content" {% if not item.seen %}style="background-color:blue;" data="{{ mgilet_notification_generate_path('notification_mark_as_seen', item.notifiableEntity, item.notification) }}" {% else %} data="" {% endif %} href="{{ path('main_app') }}{{ item.notification.link }}">
                                           <b>{{ item.notification.subject }}</b>
                                           <i>{{ item.notification.message }}</i>
                                           <br>
                                           <i>{{ item.notification.date|time_diff }}</i>
                                        <!--
                                        form action="{{ mgilet_notification_generate_path('notification_mark_as_seen', item.notifiableEntity, item.notification) }}"
                                              method="post">
                                            <button type="submit">Mark as seen</button>
                                        </form>
                                        <form action="{{ mgilet_notification_generate_path('notification_mark_as_unseen', item.notifiableEntity, item.notification) }}"
                                              method="post">
                                            <button type="submit">Mark as unseen</button>
                                        </form>
                                        -->
                                    </a>
                                {% endfor %}

                        </div>
                    </li>
                    <li id="home" class="nav-item active">
                        <a class="nav-link" href="{{ path('main_app') }}">Home</a>
                    </li>
                    <li id="profil" class="nav-item">
                        <a class="nav-link" href="{{ path('profile',{'id': app.user.id}) }}">Profil</a>
                    </li>
                    <li id="calendrier" class="nav-item">
                        <a class="nav-link" href="{{ path('calendar') }}">Calendrier</a>
                    </li>
                    <li id="resume" class="nav-item">
                        <a class="nav-link" href="{{ path('map') }}">Map</a>
                    </li>
                   
                    <li class="nav-item">
                        <a class="btn btn-primary" href="{{ path('fos_user_security_logout') }}">
                            {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                        </a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="btn btn-primary" href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
<script>
    $('.notif-content').click(function(){
        var url = $(this).attr("data");
        if(url !== ""){
            $.ajax({
               url: url
               });
            }
    });
    $('#all-seen').click(function(){
        var url = $(this).attr("data");
            $.ajax({
               url: url
               });
        //reload page
        location.reload(true);

    });
</script>
