{% extends "base.html.twig" %}

{% block title %} Album {{album.name }} {% endblock %}

{% block body %}
    <br>
    <div class="container" style="padding: 3%;margin-top: 3%;margin-bottom: 3%;border-radius: 0.5rem;background: #fff;">
        <h1 class="text-center">P'tit Album : {{ album.name }}</h1>
        <br>
       <small class="d-block text-left mt-3">
            <i class="fa fa-angle-double-left" aria-hidden="true"></i>
            <a href="{{ path('gallery') }}">Retour à la Gallerie</a>
        </small> 
        <small class="d-block text-right mt-3">
            <i class="fa fa-download" aria-hidden="true"></i>
            <a class="btn-sm btn-outline-success no-decoration add-picture" href="{{ path('add_picture',{'id' : album.id}) }}">Ajouter une photo</a>
        </small>
        {% if album.pictures is empty %}
            <i> Aucune photos</i>
        {% endif %}
        <div class="portfolio-item row">
        {% for picture in album.pictures %}
            <div class="item selfie col-lg-3 col-md-4 col-6 col-sm">
                <a class="fancylight popup-btn" href="{{ asset('build/images/gallery/' ~ picture.fileName )}}">
                    <img src="{{asset('build/images/gallery/' ~ picture.fileName )}}" alt="{{ picture.description }}" class="img-fluid">
                    {% if is_granted('ROLE_ADMIN') %}
                        <a id="delete_picture{{ picture.id }}" class="btn-sm btn-danger delete-picture" href="{{ path('delete_picture',{id:picture.id}) }}" style="position: absolute;top: 1%;left: 80%;">
                            <span class="fa fa-trash"></span>
                        </a>
                    {% endif %}                
                </a>
                {#<div class="desc">{% if picture.description is not null%}{{ picture.description }}{% else %}Photo n°: {{ loop.index }}{% endif %}</div>#}
            </div>
        {% endfor %}
        <div class="clearfix"></div>
        </div>
    </div>
        
    <!-- Modal add a picture -->
    <div id="addPictureModal" class="modal" role="dialog" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
               <div class="modal-header">
                   <h5 class="modal-title">Ajout d'une P'tite Photo</h5>
                   <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                       <span aria-hidden="true">&times;</span>
                   </button>
               </div>
               <div class="modal-body">
                   {{ form_start(pictureForm, {'method': 'post', 'action': path('add_picture')}) }}
                   {{ form_widget(pictureForm, {'attr': {'class': 'form-group'}}) }}
               </div>
                <div class="modal-footer">
                   <div class="form-group middle">
                       <input class=" btn btn-primary" type="submit" value="Modifier" />
                   </div>
                   {{ form_rest(pictureForm) }}
                   {{ form_end(pictureForm) }}
               </div>
            </div>
        </div>
    </div>
            
    <!-- Modal delete a picture-->
    <div id="deletePictureModal" class="modal" role="dialog" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
               <div class="modal-header">
                   <h5 class="modal-title">Suppression d'une photo</h5>
                   <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                       <span aria-hidden="true">&times;</span>
                   </button>
               </div>
               <div class="modal-body">
                   <p>Vous allez supprimer cette photo </p>
                   <p>Etes-vous sur?</p>
               </div>
               <div class="modal-footer">
                   <a href="" id="btnYes" class="btn btn-danger" data="">Oui</a>
                   <a href="#" data-dismiss="modal" aria-hidden="true" class="btn btn-primary">Non</a>
               </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function() {
            var modal = document.getElementById("addPictureModal");
            var modal2 = document.getElementById("deletePictureModal");

            $('.add-picture').on('click', function(e) {
                e.preventDefault();
                $('#addPictureModal').modal('show');
            });
            
            $('.delete-picture').on('click', function(e) {
                e.preventDefault();
                var href = $(this).attr("href");
                var id = $(this).attr("id");
                $('#btnYes').attr("href",href);
                $('#btnYes').attr("data",id);
                $('#deletePictureModal').modal('show');
            });
            // When the user clicks anywhere outside of the modal, close it
            window.onclick = function(event) {
              if (event.target == modal) {
                modal.style.display = "none";
              }
              if (event.target == modal2) {
                modal2.style.display = "none";
              }
            };
            
            var popup_btn = $('.popup-btn');
            popup_btn.magnificPopup({
                type : 'image',
                gallery : {
                       enabled : true
                    }
                });

            });
    </script>
{% endblock %}

