{% extends "base.html.twig" %}

{% block title %}Gallerie 🏞️{% endblock %}

{% block body %}
    <div class="page-content">
        <div class="panel-content">
            <h1 class="text-center">La P'tite Gallerie ☃️</h1>
            <div style="margin:1%;">
                <ul class="nav nav-tabs" id="myTab" role="tablist" >
                    <li class="nav-item">
                        <a class="nav-link {% if active %}active{% endif %}" id="pictures-tab" data-toggle="tab" href="#pictures" role="tab" aria-controls="pictures" aria-selected="true">
                            Les P'tites Photos 🏖️
                        </a>
                    </li> 
                    <li class="nav-item">
                        <a class="nav-link {% if not(active) %}active{% endif %}" id="albums-tab" data-toggle="tab" href="#albums" role="tab" aria-controls="albums" aria-selected="false">
                            Les P'tits Albums 🌈
                        </a>
                    </li> 
                </ul> 
                <div class="tab-content gallery-tab" id="myTabContent">
                    <div class="tab-pane fade {% if active %}show active{% endif %}" id="pictures" role="tabpanel" aria-labelledby="pictures-tab">
                        <small class="d-block text-right mt-3">
                            <a class="btn-sm btn-outline-success no-decoration add-picture" href="{{ path('add_picture') }}">
                                <i class="fa fa-download" aria-hidden="true"></i>
                                Ajouter une photo
                            </a>
                        </small>
                        <br>
                        <div class="portfolio-item row">
                            {% if picturesPage is empty %}
                                <div class="media text-muted pt-3 middle">
                                    Aucune photos 😥
                                </div>
                            {% else %}
                                {% for picture in picturesPage %}
                                    <div class="item selfie col-lg-3 col-md-4 col-6 col-sm">
                                          <a class="fancylight popup-btn" href="{{ asset('build/images/gallery/' ~ picture.fileName )}}">
                                            <img src="{{asset('build/images/gallery/' ~ picture.fileName )}}" alt="{{ picture.description }}" class="img-fluid">
                                            {% if app.user.id == picture.publisher.id %}
                                                <a id="delete_picture{{ picture.id }}" class="btn-sm btn-danger delete-picture" href="{{ path('delete_picture',{id:picture.id}) }}" style="position: absolute;top: 1%;left: 80%;">
                                                    <span class="fa fa-trash"></span>
                                                </a>
                                            {% endif %}
                                          </a>
                                          <!--<div class="desc">{% if picture.description is not null%}{{ picture.description }}{% else %}Photo n°: {{ picture.id }}{% endif %}</div>-->
                                    </div>
                                {% endfor %}
                            {% endif %}
                            <div class="clearfix"></div>
                        </div>
                        <br>
                        <div class="navigation"> 
                           {{ knp_pagination_render(picturesPage) }}
                       </div>    
                    </div>
                    <div class="tab-pane fade {% if not(active) %}show active{% endif %}" id="albums" role="tabpanel" aria-labelledby="albums-tab">
                        <small class="d-block text-right mt-3">
                            <a class="btn-sm btn-outline-success no-decoration add-album" href="{{ path('add_album') }}">
                                <i class="fa fa-download" aria-hidden="true"></i>
                                Créer un album
                            </a>
                        </small>
                        <br>
                        <div class="portfolio-item row">
                        {% if albums is empty %}
                            <div class="media text-muted pt-3 middle">
                                Aucun album 😥
                            </div>
                        {% else %}
                            {% for album in albums %}
                                <div class="item selfie col-lg-3 col-md-4 col-6 col-sm">
                                    <a href="{{ path('album',{id: album.id })}}">
                                      <img src="{{ asset('build/images/gallery/' ~ album.presentationPicture) }}" alt="{{ album.name }}" class="img-fluid rounded border border-primary">
                                      {% if is_granted('ROLE_ADMIN') %}
                                          <a id="delete_album{{ album.id }}" class="btn-sm btn-danger delete-album" href="{{ path('delete_album',{id:album.id}) }}" style="position: absolute;top: 1%;left: 80%;">
                                              <span class="fa fa-trash"></span>
                                          </a>
                                      {% endif %}
                                    </a>
                                    <div class="desc">{{ album.name }}</div>
                                </div>
                            {% endfor %}
                        {% endif %}
                        <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
                        
        </div>
    </div>

    <!-- Modal add a picture -->
    <div id="addPictureModal" class="modal" role="dialog" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
               <div class="modal-header">
                   <h5 class="modal-title">Ajout d'une P'tite Photo</h5>
                   <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                       <span aria-hidden="true">&times;</span>
                   </button>
               </div>
               <div class="modal-body">
                   {{ form_start(pictureForm, {'method': 'post', 'action': path('add_picture')}) }}
                   {{ form_widget(pictureForm, {'attr': {'class': 'form-group'}}) }}
               </div>
                <div class="modal-footer">
                   <div class="form-group middle">
                       <input class=" btn btn-primary" type="submit" value="Modifier" />
                   </div>
                   {{ form_rest(pictureForm) }}
                   {{ form_end(pictureForm) }}
               </div>
            </div>
        </div>
    </div>
            
    <!-- Modal add an album -->
    <div id="addAlbumModal" class="modal" role="dialog" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
               <div class="modal-header">
                   <h5 class="modal-title">Ajout d'un P'tit Album</h5>
                   <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                       <span aria-hidden="true">&times;</span>
                   </button>
               </div>
               <div class="modal-body">
                   {{ form_start(albumForm, {'method': 'post', 'action': path('add_album')}) }}
                   {{ form_widget(albumForm, {'attr': {'class': 'form-group'}}) }}
               </div>
                <div class="modal-footer">
                   <div class="form-group middle">
                       <input class=" btn btn-primary" type="submit" value="Modifier" />
                   </div>
                   {{ form_rest(albumForm) }}
                   {{ form_end(albumForm) }}
               </div>
            </div>
        </div>
    </div>
            
    <!-- Modal delete a picture-->
    <div id="deletePictureModal" class="modal" role="dialog" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
               <div class="modal-header">
                   <h5 class="modal-title">Suppression d'une photo</h5>
                   <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                       <span aria-hidden="true">&times;</span>
                   </button>
               </div>
               <div class="modal-body">
                   <p>Vous allez supprimer cette photo </p>
                   <p>Etes-vous sur?</p>
               </div>
               <div class="modal-footer">
                   <a href="" id="btnYes" class="btn btn-danger" data="">Oui</a>
                   <a href="#" data-dismiss="modal" aria-hidden="true" class="btn btn-primary">Non</a>
               </div>
            </div>
        </div>
    </div>
    
    <!-- Modal delete an album-->
    <div id="deleteAlbumModal" class="modal" role="dialog" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
               <div class="modal-header">
                   <h5 class="modal-title">Suppression d'un Album</h5>
                   <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                       <span aria-hidden="true">&times;</span>
                   </button>
               </div>
               <div class="modal-body">
                   <p>Vous allez supprimer cet album </p>
                   <p>Etes-vous sur?</p>
               </div>
               <div class="modal-footer">
                   <a href="" id="btnYes" class="btn btn-danger" data="">Oui</a>
                   <a href="#" data-dismiss="modal" aria-hidden="true" class="btn btn-primary">Non</a>
               </div>
            </div>
        </div>
    </div>
    
    <script>
         $(document).ready(function() {
            
            $('.add-picture').on('click', function(e) {
                e.preventDefault();
                $('#addPictureModal').modal('show');
            });
            
            $('.add-album').on('click', function(e) {
                e.preventDefault();
                $('#addAlbumModal').modal('show');
            });
            
            $('.delete-picture').on('click', function(e) {
                e.preventDefault();
                var href = $(this).attr("href");
                var id = $(this).attr("id");
                $('#btnYes').attr("href",href);
                $('#btnYes').attr("data",id);
                $('#deletePictureModal').modal('show');
            });

            $('.delete-album').on('click', function(e) {
                e.preventDefault();
                var href = $(this).attr("href");
                var id = $(this).attr("id");
                $('#btnYes2').attr("href",href);
                $('#btnYes2').attr("data",id);
                $('#deleteAlbumModal').modal('show');
            });

    
            var popup_btn = $('.popup-btn');
            popup_btn.magnificPopup({
            type : 'image',
            gallery : {
                   enabled : true
                }
            });
            
            $('.nav-link').on('click',function(e){
                setTimeout(function(){
                    if(document.body.scrollHeight + 25 < window.screen.height) {
                        $(".footer").css("position","fixed");
                    }else{
                        $(".footer").css("position","");
                    }
                }, 400);
            });
         });
    </script>
{% endblock %}

