{% extends 'base.html.twig' %}

{% block title %}Radio Imali 🎛️{% endblock %}

{% block body %}
    <div class="page-content">
        <div class="panel-content">   
            <h1 class="text-center">La P'tite Radio 🎵</h1>
            <div class="my-3 p-3 bg-white rounded box-shadow">
                <small class="d-block text-right mt-3">
                    <a class="btn-sm btn-outline-success no-decoration add-song" href="{{ path('add_song') }}">
                    <i class="fa fa-plus-square" aria-hidden="true"></i>
                        Ajouter un son
                    </a>
                </small>
                <h3 class="border-bottom border-gray pb-2 mb-0">Les p'tits sons du moment</h3>
                {% if songs is empty %}
                    <td class="fc-list-item-title fc-widget-content text-center">
                        <i>
                            Aucun son
                        </i> 
                        😥
                    </td>
                {% else %}
                    {% for song in songs|sort((a, b) => b.createddate <=> a.createddate)%}
                        <div class="media text-muted pt-3">
                            <img alt="Musique" class="mr-2 rounded myImg" src="{{ asset('build/images/musique/soundcloud.png') }}">
                            <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                                <audio id="audioPlayer{{loop.index}}" controls="controls" style="float: right;margin-right: 25%;">
                                    {#<source src="{{ song.fileName }}.ogg">#}
                                    <source src="{{ asset("build/downloads/"~song.fileName )}}">
                                </audio> 
                                    <strong class="d-block text-gray-dark">{{ song.fileName }}</strong>
                                    Uploadé par <a href="{{ path('profile',{id:song.uploader.id}) }}">{{ song.uploader.username }}</a> {{ song.createddate|time_diff() }}
                            </p>
                            {% if is_granted('ROLE_ADMIN') %}
                                <a id="delete_song{{ song.id }}" class="btn-sm btn-danger no-decoration delete-song" href="{{ path('delete_song',{'id': song.id}) }}">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                </a>
                            {% endif %}
                       </div>
                    {% endfor %}
                {% endif %}
            </div>
    
        </div>
    </div>
        
    <!-- Modal add a song -->
    <div id="addSongModal" class="modal" role="dialog" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
               <div class="modal-header">
                   <h5 class="modal-title">Ajout d'une P'tite Musique 🎧</h5>
                   <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                       <span aria-hidden="true">&times;</span>
                   </button>
               </div>
               <div class="modal-body">
                   {{ form_start(form, {'method': 'post', 'action': path('add_song')}) }}
                   {{ form_widget(form, {'attr': {'class': 'form-group'}}) }}
               </div>
                <div class="modal-footer">
                   <div class="form-group middle">
                       <input class=" btn btn-primary" type="submit" value="Ajouter" />
                   </div>
                   {{ form_rest(form) }}
                   {{ form_end(form) }}
               </div>
            </div>
        </div>
    </div>
            
    <!-- Modal delete an song-->
    <div id="deleteSongModal" class="modal" role="dialog" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
               <div class="modal-header">
                   <h5 class="modal-title">Suppression d'une musique 🚮</h5>
                   <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                       <span aria-hidden="true">&times;</span>
                   </button>
               </div>
               <div class="modal-body">
                   <p>Vous allez supprimer cette musique </p>
                   <p>Etes-vous sur?</p>
               </div>
               <div class="modal-footer">
                   <a href="" id="btnYes" class="btn btn-danger" data="">Oui</a>
                   <a href="#" data-dismiss="modal" aria-hidden="true" class="btn btn-primary">Non</a>
               </div>
            </div>
        </div>
    </div>
            
        <script>
           
            $(document).ready(function (){
                
                $('.add-song').on('click', function(e) {
                    e.preventDefault();
                    $('#addSongModal').modal('show');
                });

                $('.delete-song').on('click', function(e) {
                    e.preventDefault();
                    var href = $(this).attr("href");
                    var id = $(this).attr("id");
                    $('#btnYes').attr("href",href);
                    $('#btnYes').attr("data",id);
                    $('#deleteSongModal').modal('show');
                });

        });
        </script>

{% endblock %}
