{% extends "base.html.twig" %}

{% block title %}Photo - Ajout {% endblock %}

{% block body %}
    <br>
    <div class="container main-container">
        <h2 class="text-center">Une p'tite nouvelle image</h2>
        <br>
        {{ form_start(form, {'method': 'post', 'action': path('add_picture')}) }}
        {{ form_widget(form, {'attr': {'class': 'form-group'}}) }}
        <div class="form-group text-center">
            <input class=" btn btn-primary btn-md login-button" type="submit" value="Importer" />
        </div>
        {{ form_rest(form) }}
        {{ form_errors(form) }}
        {{ form_end(form) }}

    </div>
        <br>
        <br>
{% endblock %}

