{% extends "base.html.twig" %}

{% block title %}Calendrier 🗓️{% endblock %}

{% block body %}
    <br>
    <div class="container main-container">
        <h1 class="text-center">Le P'tit Calendrier 📅</h1>
        <br>
        <div id='calendar'></div>
        
    </div>
    <!-- Modal confirm cancel an order-->
    <div id="myModal"  class="modal" role="dialog" tabindex="-1" aria-hidden="true">
         <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Ajout d'un P'tit Evènement</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Vous allez créer un evènement </p>
                    <p>Etes-vous sur?</p>
                </div>
                <div class="modal-footer">
                    <a href="" id="btnYes" class="btn btn-danger" data="">Oui</a>
                    <a href="#" data-dismiss="modal" aria-hidden="true" class="btn btn-primary">Non</a>
                </div>
            </div>
        </div>
    </div>
   
    <script>
        var modal = document.getElementById("myModal");

        document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar');

            var calendar = new FullCalendar.Calendar(calendarEl, {
                plugins: ['interaction', 'dayGrid'],
                firstDay: 1,
                locale: 'fr',
                defaultView : 'dayGridMonth',
                selectable: true,
                events: [
                    {% for event in events %}
                    {
                        title: '{{ event.name }}',
                        start: '{{ event.startdate|date('Y-m-d H:i') }}',
                        end: '{{ event.enddate|date('Y-m-d H:i' ) }}',
                        url: '{{ path('event', { id: event.id})  }}',
                    },
                    {% endfor %}
                    {% for user in users %}
                    {
                        title: 'Anniversaire {{ user.prename }}',
                        start: '2019-{{ user.birthdate|date('m-d') }}',
                        allDay : true
                    },
                    {
                        title: 'Anniversaire {{ user.prename }}',
                        start: '2020-{{ user.birthdate|date('m-d') }}',
                        allDay : true
                    },
                    {% endfor %}
                    {
                        title: 'test',
                        start: '2019-07-20',
                        end: '2019-07-20'
                    }
                ],
                select: function(info) {
                    if ((info.end - info.start) > 86399999)
                    {
                        var my_route = Routing.generate('add_event', {start : info.start.getTime(), end : info.end.getTime() - 1});
                        //window.location.replace(my_route);
                        $('#btnYes').attr("href",my_route);
                        $('#myModal').modal('show');
                    }
                },
                dateClick: function(info) {
                    var my_route = Routing.generate('add_event', {start : info.date.getTime(), end : info.date.getTime() + 86399999});
                    //window.location.replace(my_route);
                    $('#btnYes').attr("href",my_route);
                    $('#myModal').modal('show');
                }
            });
            
             // When the user clicks anywhere outside of the modal, close it
                window.onclick = function(event) {
                  if (event.target == modal) {
                    modal.style.display = "none";
                  }
                };

            calendar.render();
        });

    </script>
{% endblock %}

