{% extends "base.html.twig" %}

{% block title %}Evènement - {{ event.name }} {% endblock %}


{% block body %}
<br>
    <div class="container" style="padding: 3%;margin-top: 3%;margin-bottom: 3%;border-radius: 0.5rem;background: #fff;">
        <div class="row">
            <div class="col-md-4">
                <div class="profile-img" style="text-align: center;">
                    <img src="http://www.aal-europe.eu/wp-content/uploads/2013/04/events_medium.jpg" alt="" style="width: 70%;height: 100%;">
                </div>
            </div>
            <div class="col-md-6">
                <div class="profile-head">
                    <h5>
                        {{ event.name }}
                    </h5>
                    <h6>
                        {{ event.description }}
                    </h6>
                    <ul class="nav nav-tabs" id="myTab" role="tablist" >
                        <li class="nav-item">
                            <a style="font-weight: 600;border: none; border-bottom: 2px solid #0062cc;" class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">A propos</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2">
                <a href="{{path('modify_event',{'id' : event.id }) }}" class="btn btn-primary" style="border: none;border-radius: 1.5rem;width: 70%;padding: 2%;font-weight: 600;color: white;cursor: pointer;">
                    Modifier event
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-8">
                <div class="tab-content profile-tab" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="row">
                            <div class="col-md-4">
                                <i class="fa fa-map-pin" aria-hidden="true"></i>
                                <label> Lieu :  </label>
                            </div>
                            <div class="col-md-8">
                                <p> {{ event.address }} </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <i class="fa fa-clock-o" aria-hidden="true"></i>
                                <label>Date</label>
                            </div>
                            <div class="col-md-8">
                                {% if event.startdate|date('d/m/Y') == event.enddate|date('d/m/Y') %}
                                    <p> le {{ event.startdate|date('d/m/Y') }} à partir de {{ event.startdate|date('H:i') }} </p>
                                {% else %}
                                    <p> du {{ event.startdate|date('d/m/Y') }} à {{ event.startdate|date('H:i') }} au  {{ event.enddate|date('d/m/Y') }} à  {{ event.enddate|date('H:i') }}</p>
                                {% endif %}
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div id="map" style="height:300px; width:100%"></div>
    </div>
                                    
    <script>
      var map;
      function initMap() {
        
        var lat= {{ lat }};
        var long = {{ long }};
        map = new google.maps.Map(document.getElementById('map'), {
           center: {lat: lat, lng: long},
           zoom: 15
         });
        var name = "{{ event.name }}";
        var infoWindow = new google.maps.InfoWindow(); //display the place name on the map
       
        var newPos = {lat: lat, lng: long };
        //var imagePerso ='../../build/images/profile/mini/'+allName[i]+'.jpg';
        //console.log(imagePerso);
        var markerDepart = new google.maps.Marker({
            position: newPos,
            map: map,
            //icon: imagePerso,
            infoWindowContent: name
        });

        //listener that display the pharmacy name when there is a 'click' on it
        google.maps.event.addListener(markerDepart, 'click', function() {
            infoWindow.setContent(this.infoWindowContent);
            infoWindow.open(map,this);
            });
        }
      
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA0wuGfkqLD67jR6NfcC8mm4EuUROGis_I&callback=initMap"
    async defer></script>
    
{% endblock %}

