{% extends "base.html.twig" %}

{% block title %}Profil - {{ user.prename }} {{ user.name }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/3.0.6/isotope.pkgd.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.js"></script>
{% endblock %}

{% block body %}
<br>
    <div class="container" style="padding: 3%;margin-top: 3%;margin-bottom: 3%;border-radius: 0.5rem;background: #fff;">
        <div class="row">
            <div class="col-md-4">
                <div class="profile-img text-center">
                    <img src="{{asset('build/images/profile/' ~ user.username ~ '.jpg')}}" alt="{{ user.username }}" style="border-radius:5%; width: 45%;height: 100%;">
                </div>
            </div>
            <div class="col-md-6">
                <div class="profile-head">
                    <h5>
                        {{ user.prename }} {{ user.name }}
                    </h5>
                    <h6>
                        <i class="fa fa-quote-left" aria-hidden="true"></i>
                        {{ user.status }}
                        <i class="fa fa-quote-right" aria-hidden="true"></i>
                    </h6>
                    <p class="profile-rating">
                        <i class="fa fa-birthday-cake" aria-hidden="true"></i>
                        Anniversaire le <span>{{ user.birthDate|date('d/m/Y') }}</span></p>
                    <ul class="nav nav-tabs" id="myTab" role="tablist" >
                        <li class="nav-item">
                            <a class="nav-link active" id="infos-tab" data-toggle="tab" href="#infos" role="tab" aria-controls="infos" aria-selected="true">Mes P'tites Infos</a>
                        </li>
                         <li class="nav-item">
                            <a class="nav-link" id="photos-tab" data-toggle="tab" href="#photos" role="tab" aria-controls="photos" aria-selected="false">Mes P'tites Photos</a>
                        </li>
                         <li class="nav-item">
                            <a class="nav-link" id="musics-tab" data-toggle="tab" href="#musics" role="tab" aria-controls="musics" aria-selected="false">Mes P'tites Musiques</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2">
            {% if app.user.id == user.id %}
                <a href="{{path('modify_profile',{'id' : user.id}) }}" class="btn-sm btn-primary mybtn update-event">
                    <i class="fa fa-edit" aria-hidden="true"></i>
                    Modifier mon profil
                </a>
            {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="profile-work" style="padding: 20%;margin-top: -15%;">
                    <table class="fc-list-table">
                        <tbody>
                            <tr class="fc-list-heading" data-date="2019-12-27">
                                <td class="fc-widget-header" colspan="3">
                                    <span class="fc-list-heading-main">
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    Bonnes adresses :
                                    </span>
                                </td>
                            </tr>
                            {% if user.recommandations is empty %}
                                <p>Aucune recommandations :/ </p>
                            {% else %}
                                {% for recommandation in user.recommandations| slice(0,5)%}
                                    <tr class="fc-list-item">
                                        <td class="fc-list-item-time fc-widget-content">
                                            {{ loop.index }}
                                        </td>
                                        <td class="fc-list-item-marker fc-widget-content">
                                            <span class="fc-event-dot" {% if recommandation.type == "bar" %}style="background-color:green;"{% elseif recommandation.type == "restaurant"  %} style="background-color:blue;" {% else %}style="background-color:red;"{% endif %}></span>
                                        </td>
                                        <td class="fc-list-item-title fc-widget-content">
                                            <a>
                                                {{ recommandation.name }}
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% endif %}
                        </tbody>
                    </table>
                    {% if app.user.id == user.id %}
                        <small class="d-block text-right mt-3">
                           <i class="fa fa-plus-square-o" aria-hidden="true"></i>
                           <a href="{{ path('add_recommandation') }}">Ajouter une bonne adresse</a>
                       </small>
                   {% endif %}
                </div>
            </div>
            <div class="col-md-8">
                <div class="tab-content profile-tab" id="myTabContent">
                    <div class="tab-pane fade show active" id="infos" role="tabpanel" aria-labelledby="infos-tab">
                        <div class="row">
                            <div class="col-md-4">
                            <i class="fa fa-free-code-camp" aria-hidden="true"></i>
                                <label>User Id</label>
                            </div>
                            <div class="col-md-8">
                                <p>{{ user.id }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <i class="fa fa-envelope-open-o" aria-hidden="true"></i>
                                <label>Mail</label>
                            </div>
                            <div class="col-md-8">
                                <p>{{ user.email }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <i class="fa fa-phone-square" aria-hidden="true"></i>
                                <label>Téléphone</label>
                            </div>
                            <div class="col-md-8">
                                <p>{{ user.phone }}</p>
                            </div>
                        </div>
                            <hr>
                         <div class="row">
                            <div class="col-md-4">
                                <i class="fa fa-industry" aria-hidden="true"></i>
                                <label>Travaille chez</label>
                            </div>
                            <div class="col-md-8">
                                <p>{% if user.job != null%}{{ user.job.companyName }}{% else %}Chômage{% endif %}</p>
                            </div>
                        </div>
                            <div class="row">
                            <div class="col-md-4">
                                <i class="fa fa-group" aria-hidden="true"></i>
                                <label>C'est quoi?</label>
                            </div>
                            <div class="col-md-8">
                                <p>{% if user.job != null%}{{ user.job.description }}{% else %}Ca chill en masseee{% endif %}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <i class="fa fa-map-pin" aria-hidden="true"></i>
                                <label>C'est où?</label>
                            </div>
                            <div class="col-md-8">
                                <p>{% if user.job != null%}{{ user.job.address }}{% else %}{{user.address}}{% endif %}</p>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="photos" role="tabpanel" aria-labelledby="photos-tab">
                        <div class="portfolio-item row">
                            {% for picture in user.pictures %}
                                <div class="item selfie col-lg-3 col-md-4 col-6 col-sm">
                                      <a class="fancylight popup-btn" href="{{ asset('build/images/gallery/' ~ picture.fileName )}}">
                                        <img src="{{asset('build/images/gallery/' ~ picture.fileName )}}" alt="{{ picture.description }}" class="img-fluid">
                                      </a>
                                      <!--<div class="desc">{% if picture.description is not null%}{{ picture.description }}{% else %}Photo n°: {{ picture.id }}{% endif %}</div>-->
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="tab-pane fade" id="musics" role="tabpanel" aria-labelledby="musics-tab">
                        {% for song in user.songs|sort((a, b) => a.createddate <=> b.createddate)%}
                            <div class="media text-muted pt-3">
                                <img alt="Musique" class="mr-2 rounded" style="width: 32px; height: 32px;" src="{{ asset('build/images/musique/soundcloud.png') }}">
                                <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                                    <audio id="audioPlayer{{loop.index}}" controls="controls" style="float: right;margin-right: 25%;">
                                        {#<source src="{{ song.fileName }}.ogg">#}
                                        <source src="{{ asset("build/downloads/"~song.fileName )}}">
                                    </audio> 
                                        <strong class="d-block text-gray-dark">{{ song.fileName }}</strong>
                                        {{ song.createddate|time_diff() }}
                                </p>
                           </div>
                        {% endfor %}                      
                    </div>
                </div>

            </div>
        </div>
    </div>
                    
    <!-- Modal update a profil -->
    <div id="updateModal" class="modal">
         <div class="modal-content">
            <div class="modal-header">
                <h2 class="margin-auto">Modification du profil</h2>
            </div>
            <div class="modal-body">
                {{ form_start(form, {'method': 'post', 'action': path('modify_profile',{'id': user.id}), 'attr': {'class': ''}}) }}
                {{ form_widget(form, {'attr': {'class': 'form-group'}}) }}
                <div class="form-group text-center">
                    <input class=" btn btn-primary btn-md login-button" type="submit" value="Modifier" />
                </div>
                {{ form_rest(form) }}
                {{ form_end(form) }}
            </div>
         </div>
    </div>
                                    
    <script>
         $(document).ready(function() {
            var modal = document.getElementById("updateModal");
            $('.update-event').on('click', function(e) {
                        e.preventDefault();
                        $('#updateModal').modal('show');
            });
             // When the user clicks anywhere outside of the modal, close it
            window.onclick = function(event) {
              if (event.target == modal) {
                modal.style.display = "none";
              }
            };

            var popup_btn = $('.popup-btn');
            popup_btn.magnificPopup({
            type : 'image',
            gallery : {
                   enabled : true
                }
            });
         });
    </script>
{% endblock %}

