{% extends "base.html.twig" %}

{% block title %}Profil - {{ user.prename }} {{ user.name }}{% endblock %}

{% block body %}
<br>
    <div class="container" style="padding: 3%;margin-top: 3%;margin-bottom: 3%;border-radius: 0.5rem;background: #fff;">
            <div class="row">
                <div class="col-md-4">
                    <div class="profile-img text-center">
                        <img src="{{asset('build/images/profile/' ~ user.username ~ '.jpg')}}" alt="{{ user.username }}" style="width: 60%;height: 100%;">
                            <div class="file btn btn-lg btn-primary" style="position: relative;cursor: pointer;overflow: hidden;margin-top: -20%;width: 60%;border: none;border-radius: 0;font-size: 15px;background: #212529b8;">
                            {% if app.user.id == user.id %}
                                Changer Ma Photo
                                    <input type="file" name="file" style="position: absolute;opacity: 0;right: 0;top: 0;">                                    
                            {% endif %}
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="profile-head">
                        <h5>
                            {{ user.prename }} {{ user.name }}
                        </h5>
                        <h6>
                            <i class="fa fa-quote-left" aria-hidden="true"></i>
                            {{ user.status }}
                            <i class="fa fa-quote-right" aria-hidden="true"></i>
                        </h6>
                        <p class="profile-rating">
                            <i class="fa fa-birthday-cake" aria-hidden="true"></i>
                            Anniversaire le <span>{{ user.birthDate|date('d/m/Y') }}</span></p>
                        <ul class="nav nav-tabs" id="myTab" role="tablist" >
                            <li class="nav-item">
                                <a style="font-weight: 600;border: none; border-bottom: 2px solid #0062cc;" class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Mes P'tites Infos</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2">
                {% if app.user.id == user.id %}
                    <a href="{{path('modify_profile',{'id' : user.id}) }}" class="btn btn-primary mybtn">
                        Modifier mon profil
                    </a>
                {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="profile-work" style="padding: 20%;margin-top: -15%;">
                        <p>                                       
                            <i class="fa fa-star-o" aria-hidden="true"></i>
                            Bonnes adresses :                                 
                        </p>                            
                        {% if user.recommandations is empty %}
                            <p>Aucune recommandations :/ </p>
                        {% else %}
                            {% for recommandation in user.recommandations| slice(0,5)%}
                                <a> {{ recommandation.name }}</a>
                            {% endfor %}
                        {% endif %}
                        {% if app.user.id == user.id %}
                             <small class="d-block text-right mt-3">
                                <i class="fa fa-calendar-plus-o" aria-hidden="true"></i>
                                <a href="{{ path('add_recommandation') }}">Ajouter une bonne adresse</a>
                            </small>
                        {% endif %}

                    </div>
                </div>
                <div class="col-md-8">
                    <div class="tab-content profile-tab" id="myTabContent">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <div class="row">
                                <div class="col-md-4">
                                <i class="fa fa-free-code-camp" aria-hidden="true"></i>
                                    <label>User Id</label>
                                </div>
                                <div class="col-md-8">
                                    <p>{{ user.id }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <i class="fa fa-envelope-open-o" aria-hidden="true"></i>
                                    <label>Mail</label>
                                </div>
                                <div class="col-md-8">
                                    <p>{{ user.email }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <i class="fa fa-phone-square" aria-hidden="true"></i>
                                    <label>Téléphone</label>
                                </div>
                                <div class="col-md-8">
                                    <p>{{ user.phone }}</p>
                                </div>
                            </div>
                                <hr>
                             <div class="row">
                                <div class="col-md-4">
                                    <i class="fa fa-industry" aria-hidden="true"></i>
                                    <label>Travaille chez</label>
                                </div>
                                <div class="col-md-8">
                                    <p>{% if user.job != null%}{{ user.job.companyName }}{% else %}Chômage{% endif %}</p>
                                </div>
                            </div>
                                <div class="row">
                                <div class="col-md-4">
                                    <i class="fa fa-group" aria-hidden="true"></i>
                                    <label>C'est quoi?</label>
                                </div>
                                <div class="col-md-8">
                                    <p>{% if user.job != null%}{{ user.job.desc }}{% else %}Ca chill en masseee{% endif %}</p>
                                </div>
                            </div>
                                <div class="row">
                                <div class="col-md-4">
                                    <i class="fa fa-map-pin" aria-hidden="true"></i>
                                    <label>C'est où?</label>
                                </div>
                                <div class="col-md-8">
                                    <p>{% if user.job != null%}{{ user.job.address }}{% else %}{{user.address}}{% endif %}</p>
                                </div>
                            </div>
                   
                        </div>
                    </div>
                </div>
            </div>
    </div>
{% endblock %}

