{% extends "base.html.twig" %}

{% block title %}Résumé 🌌{% endblock %}

{% block body %}
    <br>
    <div class="container" style="padding: 3%;margin-top: 3%;margin-bottom: 3%;border-radius: 0.5rem;background: #fff;">
        <h1 class="text-center">Les P'tits Bails 🙆🏼‍♂️</h1>
        <div class="my-3 p-3 bg-white rounded box-shadow">
            <small class="d-block text-right mt-3">
                <a class="btn-sm btn-outline-success no-decoration add-event" href="{{ path('add_event') }}">
                <i class="fa fa-calendar-plus-o" aria-hidden="true"></i>
                    Ajouter un évènement
                </a>
            </small>
            <h6 class="border-bottom border-gray pb-2 mb-0">Les p'tits évènements du jour</h6>
            {% set compt = 0 %}
            {% for event in events|sort((a, b) => a.startdate <=> b.startdate)%}
                {% if event.startdate|date('Y-m-d') == "now"|date('Y-m-d') %}
                    {% set compt = compt+1 %}
                    <div class="media text-muted pt-3">
                        {% if "Grand Prix" in event.name %}
                            <img class="mr-2 rounded" src="{{asset('build/images/dashboard/formula1.png')}}" alt="Formule 1" style="width: 5%;height: 100%;border-radius: 10%;">
                            <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                                <a href="{{ path('event',{'id': event.id}) }}">
                                    <strong class="d-block text-gray-dark">{{ event.name }} </strong>
                                </a>
                                Lieu :  {{ event.address }} - Qualifications le {{ event.startdate|date('d/m/Y') }} à {{ event.startdate|date('H:i') }} - Course le {{ event.enddate|date('d/m/Y') }} à  {{ event.enddate|date('H:i') }}
                            </p>
                        {% else %}
                            <img class="mr-2 rounded" src="{{asset('build/images/dashboard/event.jpg')}}" alt="{{ event.name }}" style="width: 5%;height: 100%;border-radius: 10%;">
                            <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                                <a href="{{ path('event',{'id': event.id}) }}">
                                    <strong class="d-block text-gray-dark">{{ event.name }} </strong>
                                </a>
                                Lieu :  {{ event.address }} du {{ event.startdate|date('d/m/Y') }} à {{ event.startdate|date('H:i') }} au  {{ event.enddate|date('d/m/Y') }} à  {{ event.enddate|date('H:i') }}
                                Description : {{ event.description }}
                            </p>
                        {% endif %}
                        {% if is_granted('ROLE_ADMIN') %}
                            <a id="delete_event{{ event.id }}" class="btn-sm btn-danger no-decoration delete-event" href="{{ path('delete_event',{'id': event.id}) }}">Supprimer</a>
                        {% endif %}
                    </div>
                {% endif %}
            {% endfor %}
            {% if compt == 0 %}
                <div class="media text-muted pt-3">
                    <p class="middle">
                        Aucun évènement aujourd'hui 😥
                    </p>
                </div>
            {% else %} 
                <br>
            {% endif %}
            <br>
            <h6 class="border-bottom border-gray pb-2 mb-0">Les p'tits évènements à venir</h6>
            {% for event in events|slice(0,20)|sort((a, b) => a.startdate <=> b.startdate)%}
                {% if event.startdate|date('Y-m-d') > "now"|date('Y-m-d') %}
                    <div class="media text-muted pt-3">
                        {% if "Grand Prix" in event.name %}
                            <img class="mr-2 rounded" src="{{asset('build/images/dashboard/formula1.png')}}" alt="Formule 1" style="width: 5%;height: 100%;border-radius: 10%;">
                            <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                                <a href="{{ path('event',{'id': event.id}) }}">
                                    <strong class="d-block text-gray-dark">{{ event.name }} </strong>
                                </a>
                                Lieu :  {{ event.address }} - Qualifications le {{ event.startdate|date('d/m/Y') }} à {{ event.startdate|date('H:i') }} - Course le {{ event.enddate|date('d/m/Y') }} à  {{ event.enddate|date('H:i') }}
                            </p>
                        {% else %}
                            <img class="mr-2 rounded" src="{{asset('build/images/dashboard/event.jpg')}}" alt="{{ event.name }}" style="width: 5%;height: 100%;border-radius: 10%;">
                            <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                                <a href="{{ path('event',{'id': event.id}) }}">
                                    <strong class="d-block text-gray-dark">{{ event.name }} </strong>
                                </a>
                                Lieu :  {{ event.address }} du {{ event.startdate|date('d/m/Y') }} à {{ event.startdate|date('H:i') }} au  {{ event.enddate|date('d/m/Y') }} à  {{ event.enddate|date('H:i') }}
                                Description : {{ event.description }}
                            </p>
                        {% endif %}
                        {% if is_granted('ROLE_ADMIN') %}
                            <a id="delete_event{{ event.id }}" class="btn-sm btn-danger no-decoration delete-event" href="{{ path('delete_event',{'id': event.id}) }}">Supprimer</a>
                        {% endif %}
                    </div>
                {% endif %}
            {% endfor %}

            <br>
            <br>

            <h6 class="border-bottom border-gray pb-2 mb-0">Les p'tits évènements passés</h6>
            {% for event in events|slice(0,20)|sort((a, b) => b.startdate <=> a.startdate)%}
                {% if event.startdate|date('Y-m-d') < "now"|date('Y-m-d') %}
                    {% if "Grand Prix" not in event.name %}
                        <div class="media text-muted pt-3">
                            <img class="mr-2 rounded" src="{{asset('build/images/dashboard/event.jpg')}}" alt="{{ event.name }}" style="width: 5%;height: 100%;border-radius: 10%;">
                            <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                                <a href="{{ path('event',{'id': event.id}) }}">
                                    <strong class="d-block text-gray-dark">{{ event.name }} </strong>
                                </a>
                                A eu lieu :  {{ event.address }} du {{ event.startdate|date('d/m/Y') }} à {{ event.startdate|date('H:i') }} au  {{ event.enddate|date('d/m/Y') }} à  {{ event.enddate|date('H:i') }}
                                Description : {{ event.description }}
                            </p>
                            {% if is_granted('ROLE_ADMIN') %}
                                <a id="delete_event{{ event.id }}" class="btn-sm btn-danger delete-event" href="{{ path('delete_event',{'id': event.id}) }}">Supprimer</a>
                            {% endif %}
                        </div>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>

        <div class="my-3 p-3 bg-white rounded box-shadow">
            <h6 class="border-bottom border-gray pb-2 mb-0">Les p'tits loustiques</h6>
            {% for user in users %}
                <div class="media text-muted pt-3">
                        <span class="dot {%if user %}green{%else%}red{%endif%}"></span>
                        <img class="mr-2 rounded" src="{{asset('build/images/profile/' ~ user.username ~ '.jpg')}}" alt="{{ user.username }}" style="width: 5%;height: 100%;border-radius: 10%;">
                        <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                        <a href="{{ path('profile',{'id': user.id}) }}">
                            <strong class="d-block text-gray-dark">{{ user.prename }} {{ user.name }}</strong>
                        </a>
                        Dernière activitée : {{ user.lastlogin|date('d/m/Y') }}
                    </p>
                </div>
            {% endfor %}

            <small class="d-block text-right mt-3">
                <a href="#">Touts les p'tits potos</a>
            </small>
        </div>
    </div>
        
   <!-- Modal add an event -->
    <div id="addEventModal" class="modal" role="dialog" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
               <div class="modal-header">
                   <h5 class="modal-title">Ajout d'un P'tit Evènement</h5>
                   <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                       <span aria-hidden="true">&times;</span>
                   </button>
               </div>
               <div class="modal-body">
                   {{ form_start(eventForm, {'method': 'post', 'action': path('add_event')}) }}
                   {{ form_widget(eventForm, {'attr': {'class': 'form-group'}}) }}
               </div>
                <div class="modal-footer">
                   <div class="form-group middle">
                       <input class=" btn btn-primary" type="submit" value="Ajouter" />
                   </div>
                   {{ form_rest(eventForm) }}
                   {{ form_end(eventForm) }}
               </div>
            </div>
        </div>
    </div>
            
    <!-- Modal delete an event-->
    <div id="deleteModal" class="modal" role="dialog" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
               <div class="modal-header">
                   <h5 class="modal-title">Suppression d'un event</h5>
                   <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                       <span aria-hidden="true">&times;</span>
                   </button>
               </div>
               <div class="modal-body">
                   <p>Vous allez supprimer cette evènenement </p>
                   <p>Etes-vous sur?</p>
               </div>
               <div class="modal-footer">
                   <a href="" id="btnYes" class="btn btn-danger" data="">Oui</a>
                   <a href="#" data-dismiss="modal" aria-hidden="true" class="btn btn-primary">Non</a>
               </div>
            </div>
        </div>
    </div>
            
    <script>
        $(document).ready(function (){
            initializeAutocomplete('event_address');
            var modal = document.getElementById("addEventModal");
            var modal2 = document.getElementById("deleteModal");

            $('.add-event').on('click', function(e) {
                e.preventDefault();
                $('#addEventModal').modal('show');
            });

            $('.delete-event').on('click', function(e) {
                e.preventDefault();
                var href = $(this).attr("href");
                var id = $(this).attr("id");
                $('#btnYes').attr("href",href);
                $('#btnYes').attr("data",id);
                $('#deleteModal').modal('show');
            });
            //delete an event and the correponding bloc
            $('#btnYes').on('click', function (e) {
                //e.preventDefault();
                //var notifUrl = $(this).attr('href');
                //var div = $(this).attr('data');
                //var divNum = div.replace('delete_event','');
                //$.ajax({url: notifUrl,
                 //   success: function(result){
                  //      $('#event'+ divNum).remove();
                   // }});
            });

            // When the user clicks anywhere outside of the modal, close it
            window.onclick = function(event) {
              if (event.target == modal) {
                modal.style.display = "none";
              }
              if (event.target == modal) {
                modal2.style.display = "none";
              }
            };

        });
        
        //Autocomplete 
        function initializeAutocomplete(id){
            var element = document.getElementById(id);  
            if (element) { 
                var autocomplete = new google.maps.places.Autocomplete(element, { types: ['geocode'] });
                google.maps.event.addListener(autocomplete, 'place_changed', onPlaceChanged);
            }
        }
        function onPlaceChanged() {
            var place = this.getPlace();
            console.log(place);  // Uncomment this line to view the full object returned by Google API.
            for (var i in place.address_components) {
              var component = place.address_components[i];    
              for (var j in component.types) {
                var type_element = document.getElementById(component.types[j]);      
                if (type_element) {
                  type_element.value = component.long_name;
                }    
              }  
            }
        }
        
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyA0wuGfkqLD67jR6NfcC8mm4EuUROGis_I"
        async defer></script>


{% endblock %}

