{% extends "base.html.twig" %}

{% block title %}Horaires 🚀{% endblock %}

{% block body %}
    <br>
    <div class="container main-container">
        <h1 class="text-center">Les P'tits Transports 🚌</h1>
        <br>
        <div class="my-3 p-3 bg-white rounded box-shadow">
            <h4 class="border-bottom border-gray pb-2 mb-0">Métro 🚃</h4>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Ligne 10:
                </div>
                <div class="panel-body">
                    {% for time in metro1 %}
                        {% if loop.index == 1 or loop.index == 5 %}
                            <strong>
                                Direction : {{ time.destination }} : 
                            </strong>
                            <a style="color:red;">{{ time.message }} </a> -
                        {% else %}
                            {{ time.message }} -
                        {% endif %}
                        {% if loop.index == 4 %}
                            <br>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <h4 class="border-bottom border-gray pb-2 mb-0">Bus 🚍</h4>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    BUS 52:
                </div>
                <div class="panel-body">
                    {% for time in bus2 %}
                        {% if loop.index == 1 or loop.index == 3 %}
                            <strong>
                                Direction : {{ time.destination }} : 
                            </strong>
                            <a style="color:red;">{{ time.message }} </a> -
                        {% endif %}
                        {{ time.message }} -
                        {% if loop.index == 2 %}
                            <br>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>

            <div class="panel panel-primary">
                <div class="panel-heading">
                    BUS 72:
                </div>
                <div class="panel-body">
                    {% for time in bus1 %}
                        {% if loop.index == 1 or loop.index == 3 %}
                            <strong>
                                Direction : {{ time.destination }} : 
                            </strong>
                            <a style="color:red;">{{ time.message }} </a> -
                        {% endif %}
                        {{ time.message }} /
                        {% if loop.index == 2 %}
                            <br>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>

     </div>

{% endblock %}
